@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-image: url("./countdown_image.jpg");
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.countdown_container{
    display: flex;
    /* margin-top: 20rem; */
    margin-right: -50rem;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    font-size: 4rem;
    font-weight: normal;
    margin-top: 20rem;
    margin-right: -50rem;
    
}
.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    font-weight: bold;
}
.cont{
    text-align: center;
}
.cont span{
    font-size: 1.5rem;
}